# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized.

## Author

Kevin D.

Objectives:
- Popular languages used by Data Scientists
- Common libraries ued by Data Scientists
- Examples of math expressions used in Jupyter

Some of the popular langauges that Data Scientists used are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensforFlow
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|----|
|MongoDB|
|MySQL|
|CouchDB|
|Mleap|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [ ]:
# This is a simple arithmetic expression to mulitply then add integers

In [3]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by 60

In [4]:
200/60

3.3333333333333335